body {
    max-width: 1280px;
    margin: auto;
}

.title {
    font-size: 48px;
    text-align: center;
    background-color: aquamarine;
}

.title.minor {
    font-size: 30px;
}

#recipe {
    font-size: 18px;
}