:root {
    --hero-bg: #1F2937;
    --hero-text: #F9FAF8;
    --hero-secondary: #E5E7EB;
    --button-bg: #3882F6;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Helvetica, sans-serif;
}

header {
    background-color: var(--hero-bg);
    padding: 20px 0 100px 0;
}

.hero-container {
    max-width: 1280px;
    margin: auto;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 24px 0;
}

.hero-logo {
    font-size: 24px;
    color: var(--hero-text);
}

.hero-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: var(--hero-secondary);
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.hero-text {
    width: 450px;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--hero-text);
    margin-bottom: 0;
}

.hero-text p {
    font-size: 18px;
    color: var(--hero-secondary);
    margin-top: 0;
}

.hero-text button {
    background-color: var(--button-bg);
    color: var(--hero-text);
    border: none;
    border-radius: 5px;
    padding: 8px 32px;
}

.info-content {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-content h2 {
    font-size: 36px;
    font-weight: bolder;
    padding: 36px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 0 100px 0;
}

.card-wrapper {
    width: 200px;
    text-align: center;
}

.card {
    border: solid var(--button-bg) 3px;
    border-radius: 10px;
    height: 200px;
}
